body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #7d2ae8, #71b7e6, #9b59b6);
    background: #7d2ae8;
}
form.row{
    margin-top: 20px;
}
.form h1{
    text-align: center;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid silver;
    color:white;
}
.form form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txtfield{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.form{
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: white;
    border-radius: 15px;
}
.btn{
    height: 30px;
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 30px;
}
.approve{
    margin-right: 10px;
    background: none;
    border: none;
    border: solid 2px green;
}
.deny{
    margin-left: 10px;
    background: none;
    border: none;
    border: solid 2px red;
}
.btn:hover{
    cursor: pointer;
}
.approve:hover{
    background-color: green;
    color: white;
    transition: 0.5s ease-in;
}
.deny:hover{
    background-color: red;
    color: white;
    transition: 0.5s ease-in;
}
.button{
    transform: translateX(-52px);
}
#staffid {
    width: 100px;
    display: inline;
    background: none;
    border: none;
    border-bottom: 2px solid #adadad;
    border-radius: 0;
}

