body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.details{
    width: 100%;
    padding: 20px;
    padding-top: 0;
    display: grid;
    grid-template-columns: 2fr,1fr;
    margin-left: 200px;
    margin-top: 70px;
    width: 75%;
    background-image: url('/../images/background.svg');
}
.details .leaveDetails{
    position: relative;
    display: block;
    min-height: 530px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.274);
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2{
    font-weight: 600;

}
.employee{
    padding-top: 20px;
    margin-bottom: -10px;
}
.admin_input{
    height: 20px;
    font-size: 18px;
    margin: 20px;
    border: none;
    outline: none;
    background: none;
}
#name{
   margin-left: 69px;
}
#department{
    margin-left: 28px;
}
#leave_type{
    margin-left: 33px;
}
#start_date {
    margin-left: 42px;
}
#duration {
    margin-left: 51px;
}
.button{
    top: 50%;
    bottom: 50%;
    transform: translate(40%, 50%);
    margin-top: 20px;
}
.btn{
    height: 30px;
    width: 100px;
    text-align: center;;
}
.approve{
    margin-right: 10px;
    background: none;
    border: none;
    border: solid 2px green;
}
.deny{
    margin-left: 10px;
    background: none;
    border: none;
    border: solid 2px red;
}
.btn:hover{
    cursor: pointer;
}
.approve:hover{
    background-color: green;
    color: white;
    transition: 0.5s ease-in;
}
.deny:hover{
    background-color: red;
    color: white;
    transition: 0.5s ease-in;
}