body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
form.row{
    margin-top: 20px;
}
.form h1{
    text-align: center;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid silver;
    color:white;
}
.form form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txtfield{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.form{
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: darkcyan;
    border-radius: 10px;
}

