@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
th,
td {
    padding: 12px 15px;
}

th {
    background: linear-gradient(135deg, #7d2ae8, #71b7e6, #9b59b6);
    background: #7d2ae8;
}
tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.user-table {
    margin-left: auto;
    margin-right: auto;
}

.user-table th {
    background-color: black;
    color: white;
}

