body {
    font-family: "lato", sans-serif;
  }
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    
      font-size: 0.5em;
    
  }
  
  .responsive-table li {
    
      border-radius: 3px;
      padding: 0px 0px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
  }

 .th-data{
     font-size:18px ;
     background: rgb(184, 238, 59);
     text-align: center;
 }
 
 .th-data2{
    font-size:18px ;
    background: rgb(59, 202, 238);
    text-align: center;
}
  
  .data{
      font-size: 17px;
      font-weight: bold;
      align-items: center;
      justify-content: center;
      text-align: center;

  }

  .table-title{
      
      font-size: 26px;
      margin: 15px 0;
      text-align: center;
      color: dodgerblue;
    font-weight: bold;
      
  }

  .containerTable2{
      padding-top: 1cm;
  }

  .table2-title{
      
    font-size: 24px;
    margin: 8px 0;
    text-align: center;
    color: rgb(30, 64, 255);
  font-weight: bold;
    
}
.data2{
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;

}
